.section {
	width: 100%;
	height: auto;
	padding: 0 16px;
}

.container {
	width: 100%;
	min-height: 542px;
	max-width: 1408px;
	min-width: 300px;
	margin: 0 auto;
	padding: 36px 64px 19px 64px;
	border-radius: 12px;
	background-color: var(--third-highlight-color);
	color: var(--primary-dark-color);
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 216px;
	margin: 0 auto;
}

@media screen and (min-width: 768px) {
	.container {
		min-height: 421px;
		padding: 124px 72px 35px 73px;
		border-radius: 16px;
	}

	.wrapper {
		max-width: 591px;
	}
}

@media screen and (min-width: 1280px) {
	.container {
		min-height: 677px;
		padding: 197px 194px 81px 195px;
		border-radius: 24px;
	}

	.wrapper {
		max-width: initial;
		width: 1019px;
		max-width: initial;
	}
}