.wrapper {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 8px 8px 8px 39px;
	border-radius: 12px;
}

.wrapper.activeCard {
	background-color: var(--primary-dark-color);
	animation: bgChanger .25s linear;
}

.titleButton {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border: none;
	padding: 0;
	background-color: transparent;
	text-align: left;
	cursor: pointer;
}

.title {
	font-family: "Right Grotesk Compact", fantasy;
	font-size: 20px;
	line-height: 1;
	font-weight: 900;
	color: var(--secondary-light-color);
}

.title.active,
.titleNumber {
	--active-color: var(--third-highlight-color);
	color: var(--active-color);
	animation: colorChanger .25s linear;
}

.titleNumber {
	position: absolute;
	top: 12px;
	left: -31px;
	font-family: 'Biro Script Plus Bold US', cursive;
	font-size: 12px;
	line-height: 1.66;
}

.titleNumber.activeNumber {
	--active-color: var(--secondary-light-color);
	color: var(--active-color);
	animation: colorChanger .25s linear;
}

.textContainer {
	transition: height .3s ease-in-out;
}

.textContent {
	padding-top: 10px;
	font-size: 12px;
	line-height: 1.16;
}

.accordionImage {
	display: none;
}

.content {
	position: relative;
}


@media screen and (min-width: 768px) {
	.wrapper {
		padding: 18px 16px 23px 39px;
		border-radius: 16px;

		display: flex;
		justify-content: space-between;
	}

	.title {
		font-size: 32px;
	}

	.titleNumber {
		top: 24px;
		left: -33px;
		font-size: 16px;
		line-height: 1.687;
	}

	.textContent {
		padding-top: 12px;
	}

	.accordionImage {
		position: absolute;
		top: -10px;
		left: 20px;
		display: block;
		width: 100%;
		max-width: 148px;
		min-height: 183px;
		border-radius: 16px;
		transform: rotate(-16deg);
		overflow: hidden;
		z-index: 3;
	}

	.content {
		max-width: 360px;
		padding-left: 21px;
		margin-left: auto;
	}

}

@media screen and (min-width: 1280px) {
	.wrapper {
		padding: 24px 24px 24px 39px;
		border-radius: 24px;
	}

	.title {
		font-size: 64px;
	}

	.titleNumber {
		top: 36px;
		left: -51px;
		font-size: 24px;
		line-height: 1.66;
	}

	.textContent {
		padding-top: 36px;
		font-size: 16px;
		line-height: 1.187;
	}

	.accordionImage {
		top: -14px;
		left: 18px;
		max-width: 248px;
		min-height: 282px;
		border-radius: 24px;
		transform: rotate(-8deg);
	}

	.content {
		max-width: 662px;
		padding-left: 27px;
	}
}


@keyframes colorChanger {
	from {
		color: inherit;
	}

	to {
		color: var(--active-color);
	}
}

@keyframes bgChanger {
	from {
		background-color: transparent;
	}

	to {
		background-color: var(--primary-dark-color);
	}
}