.buttons {
	display: flex;
	gap: 48px;
	justify-content: center;
	width: 100%;
	padding-top: 24px;
}

.buttons>button {
	border: none;
	padding: 0;
	background-color: transparent;
	text-transform: capitalize;
	font-family: 'Biro Script Plus Bold US', cursive;
	font-size: 24px;
	line-height: 1.25;
	color: var(--secondary-light-color);
	cursor: pointer;
	transition: color .1s linear;
}

.buttons>button:active {
	color: var(--third-highlight-color);
}

@media screen and (min-width: 1280px) {
	.buttons{
		padding-top: 48px;
	}
}