.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 44;
	pointer-events: none;
}

.headerContainer {
	display: flex;
	justify-content: space-between;
	max-width: 480px;
	padding: 8px 16px 0 16px;
	margin: 0 auto;
}


.buttonsWrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.hidden {
	visibility: hidden;
}

@media screen and (min-width: 768px) {
	.headerContainer {
		max-width: 768px;
		padding: 12px 28px 0 28px;
	}
}

@media screen and (min-width: 1280px) {
	.headerContainer {
		max-width: 1440px;
		padding: 24px 112px 0 112px;
	}
}