.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 60px;
	padding-bottom: 24px;
}

.footerContent {
	line-height: 1.16;
	text-align: center;
	max-width: 216px;
}

@media screen and (min-width: 768px) {
	.footer {
		padding-top: 80px;
		padding-bottom: 40px;
	}
	.footerContent {
		max-width: none;
	}
}

@media screen and (min-width: 1280px) {
	.footer {
		padding-top: 120px;
		padding-bottom: 40px;
	}
	
	.footerContent {
		font-size: 16px;
		line-height: 1.187;
	}
}