.link {
	--links-height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	border-radius: 8px;
	text-decoration: none;
	background-color: rgba(30, 30, 30, 0.1);
	pointer-events: auto;
}

.link svg {
	fill: var(--primary-dark-color);
	transition: fill .25s linear;
}

.link:hover svg, .link:focus svg  {
	fill: var(--secondary-light-color);
}

.link.light {
	display: flex;
	opacity: 1;
	background-color: rgba(255, 255, 255, 0.1);
	animation: linksShowUp .25s linear;
}

.link.light>svg {
	fill: var(--secondary-light-color);
	transition: all .25s linear;
}

.link.light:hover>svg, .link.light:focus>svg {
	fill: var(--third-highlight-color);
}

.link.hidden {
	display: none;
	opacity: 0;
	animation: linksClose .25s linear;
}

@media screen and (max-width: 768px) {
	.link.mobileOpen {
		background-color: rgba(255, 255, 255, 0.1);
		animation: linksShowUp .25s linear;
	}

	.link.mobileOpen>svg {
		fill: var(--secondary-light-color);
		transition: all .25s linear;
	}

	.link.mobileOpen:hover>svg {
		fill: var(--third-highlight-color);
	}
}

@media screen and (min-width: 1280px) {
	.link {
		--links-height: 80px;
		width: 80px;
		height: 80px;
		border-radius: 12px;
	}
}

@keyframes linksShowUp {
	0% {
		display: none;
		height: 0;
		opacity: 0;
	}

	80% {
		opacity: 0.3;
		height: var(--links-height);
	}

	100% {
		display: flex;
		width: var(--links-height);
		opacity: 1;
	}
}

@keyframes linksClose {
	0% {
		display: flex;
		height: var(--links-height);
		opacity: 1;

	}

	30% {
		opacity: 0;
	}

	100% {
		display: none;
		height: 0;
	}
}