@import-normalize;

@font-face {
	font-family: biro-script;
	src: url("./fonts/BiroScript/BiroScriptPlus.woff2");
}

@font-face {
	font-family: messina-sans;
	src: url("./fonts/MessinaSans/MessinaSansMono-Regular.woff2"), 
	url("./fonts/MessinaSans/MessinaSansMono-Bold.woff2");
}

@font-face {
	font-family: right-grotesk;
	src: url("./fonts/RightGrotesk/RightGrotesk-Medium.otf");
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}